<div class="row">
	<div class="page-header">
		<h2>Modelos</h2>
	</div>
</div>

<div class="alert alert-danger" 
	ng-show="controller.error">{{controller.errorMessage}}
</div>

<div class="row">
	<table id="lista-de-modelos" class="table table-striped">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Colunas</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in itens">
				<td>{{ item.modelName }}</td>
				<td>
					<ul>
						<li ng-repeat="(name, type) in item.columns">
							<span>{{name}} : {{type}}</span>
						</li>
					</ul>
				</td>
				<td>
					<form method="post">
						<button class="btn btn-link" 
							ng-click="deleteModel(item, $index)">
					 		<span class="glyphicon glyphicon-remove"></span>
						</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>	
</div>


